OPENAI_API_KEY="placeholder"
MOONSHOT_API_KEY="placeholder"

# Models Configuration
MAIN_MODEL="gpt-4o"
MAIN_MODEL_TEMPERATURE=0

# Certificates for corporate CA
SSL_CERT_FILE="placeholder"
REQUESTS_CA_BUNDLE="placeholder"
GRPC_DEFAULT_SSL_ROOTS_FILE_PATH="placeholder"
